@font-face {
  font-family: "Shardee";
  src: url("./assets/fonts/Shardee.ttf") format("truetype");
}

.container {
  background-color: #f9f7e0;
  position: relative;
}

.container__content-background::after {
  content: "";
  background: url("./assets/ink-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;

  border: 2px solid #ffdf00;
}

.container__content,
.container__content-nav {
  position: relative;
  z-index: 1;
}

.container__image img {
  position: fixed;
  bottom: -120px;
  left: -100px;
  margin: 0;
  padding: 0;
  transform: rotate(90deg);
  z-index: 1;
}

.shiny {
  font-family: "Shardee", sans-serif;
  font-size: 7rem;
  letter-spacing: 8px;
  margin: 0;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fdd3dd),
    to(#9796f0),
    color-stop(0.5, #fdd3dd)
  );
  background: -moz-gradient(
    linear,
    left top,
    right top,
    from(#fdd3dd),
    to(#9796f0),
    color-stop(0.5, #fdd3dd)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#fdd3dd),
    to(#9796f0),
    color-stop(0.5, #fdd3dd)
  );
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 0.1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #fbc7d4;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
