.container {
  background-color: #f9f7e0;
  position: relative;
}

.container__content-background {
  background-color: #f6ecd7;
  position: relative;
}

.container__content-background::after {
  content: "";
  background: url("./assets/ink-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.container__content,
.container__content-nav {
  position: relative;
  z-index: 1;
}

.container__image img {
  max-width: none;

  /* top: 300px;
  right: 0px;
  bottom: 0px;
  left: -90px; */

  top: 500px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  transform: rotate(190deg);
  z-index: 1;
}

.shiny {
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fbc7d4),
    to(#9796f0),
    color-stop(0.5, #fbc7d4)
  );
  background: -moz-gradient(
    linear,
    left top,
    right top,
    from(#fbc7d4),
    to(#9796f0),
    color-stop(0.5, #fbc7d4)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#fbc7d4),
    to(#9796f0),
    color-stop(0.5, #fbc7d4)
  );
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #fbc7d4;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
